<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Work Logger - Dashboard</title>{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6"><h1>Work Logger App</h1></div>
            <div class="col-md-6">
            <p>
                {% if user.is_authenticated %}
                <h1><a href="{% url 'logout' %}?next={% url 'login' %}"><i class="glyphicon glyphicon-off pull-right"></i></a></h1>
                {% endif %}
            </p>
            </div>
        </div>
        <hr>
        <div class="col-sm-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% block javascripts %}{% endblock %}
</body>
</html>