{% extends "base.html" %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div id="log-form" class="container-fluid">
            {% if user.first_name %}
                <h3>Hello, <span style="text-transform: capitalize">{{ user.first_name }}</span>!</h3><br>
            {% else %}
                <h3>Hello, {{ user.get_username }}!</h3><br>
            {% endif %}

            <p>Log your time below:</p><br>
            <form action="" method="post" role="form">
                {% csrf_token %}
                {{ form.management_form }}
                {% for form_instance in form %}
                    {% for error in form_instance.non_field_errors %}
                    <div class="form-group has-errors text-danger small">
                        {{ error }}
                    </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-2">
                            <h4>Duration</h4>
                            <div class="form-group">{{ form_instance.duration }}</div>
                            <div class="form-group has-errors text-danger small">
                                {{ form_instance.duration.errors }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4>Project</h4>
                            <div class="form-group">{{ form_instance.project }}</div>
                            <div class="form-group has-errors text-danger small">
                                {{ form_instance.project.errors }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4>Remarks</h4>
                            <div class="form-group">{{ form_instance.remarks }}</div>
                            <div class="form-group has-errors text-danger small">
                                {{ form_instance.remarks.errors }}
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <button class="btn btn-default" type="Submit">Submit</button>
            </form>
            <p id="total-log">
                <strong>TOTAL LOG FOR THE DAY:
                {{ total_for_day }}
                    <span>
                        {% if total_for_day != 1 %}
                            hours
                        {% else %}
                            hour
                        {% endif %}
                    </span>
                </strong>
            </p>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Duration</th>
                    <th>Project</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr style={% if log.is_late_log %}"color: darkred;"{% else %}""{% endif %}>
                        <td>{{ log.duration }} h</td>
                        <td>
                            {% if log.project %}
                            {{ log.project }}
                            {% else %}
                            No associated project
                            {% endif %}
                        </td>
                        <td>{{ log.remarks }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <p>Change the date being viewed here:</p>
                    <input id='date-picker' type="text" class="form-control" placeholder="Click here">
                </div>
                <div class="col-md-4">
                    <p><strong>Total Hours Logged for Same Month:</strong></p>
                    <p><strong>{{ total_for_month }}</strong></p>
                </div>
                <div class="col-md-4">
                    <p><strong>Total Hours Logged for Same Week:</strong></p>
                    <p><strong>{{ total_for_week }}</strong></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var datePicker = $('#date-picker');
            datePicker.datepicker({
                format: 'yyyy/mm/dd'
            });
            datePicker.on('changeDate', function() {
                var chosenDate = $('#date-picker').val();
                if (!(chosenDate == null || chosenDate === '')) {
                    window.location.href = "{% url 'logger_app:index' %}" + chosenDate + '/';
                }
            });
        });
    </script>
{% endblock %}