{% extends "base.html" %}
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Login to get started!</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_{{ form.username.name }}">{{ form.username.label_tag }}</label>
            <input
                class="form-control"
                type="text"
                name="{{ form.username.name }}"
                id="id_{{ form.username.name }}"
                value=""
                placeholder="Username">
        </div>
        <div class="form-group">
            <label for="id_{{ form.password.name }}">{{ form.password.label_tag }}</label>
            <input
                class="form-control"
                type="password"
                name="{{ form.password.name }}"
                id="id_{{ form.password.name }}"
                value=""
                placeholder="Password">
        </div>
        <div>
            <input class="btn btn-default" type="submit" value="Login">
            <input type="hidden" name="next" value="{{ next }}">
        </div>
    </form>
    <hr>
    <h2>Login with <a href="{% url 'social:begin' 'facebook' %}">Facebook</a></h2>
{% endblock %}