.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

/* Dashboard Styles */

#log-form {
    margin: 1em;
}

#log-form h4 {
    text-transform: uppercase;
}

#total-log {
    margin-top: 2em;
}